 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A little about me.</h2> <br>
                </div>
            </div>
            <div class="row">
                <div class="text-left">
                    <p>I grew up in the small town of Cottonwood, California before attending University of California, Davis in 2013. Here, I explored various areas of psychology before stumbling upon the study of human memory and learning. My 18-year-old self was captivated by the promise of optimizing learning through the application of psychological research. Consequently, I completed  every memory class that was available but was left unsatisfied in the application of the psychological findings to authentic educational settings. So, I started taking education classes, where the findings discussed in my psychology courses were never mentioned. I was disappointed in the lack of overlap between my psychology and education courses because it is obvious that education could be more effective by incorporating findings from psychology. 
                     <br> <br> I have since entered a Ph.D. program where I attempt to find ways students can learn more effectively. </p>
                </div>
            </div>
        </div>
    </section>
